/* estiloBase.css */


body {
    
    background-color: rgb(14, 7, 80); /* Cambia el color de fondo para comprobar */
     
}
 
 
 nav {
     display: flex;
     flex-direction: column;
    
     padding: 0;
     margin: 0;
     background-color: whitesmoke; /* Color de fondo de la barra lateral */
     width: 250px; /* Ancho fijo de la barra lateral */
     position: fixed;
     top: 90px;
     left: 0;
     height: calc(100vh - 90px);
     z-index: 999;
    
 }
 
 ul.nav{
     list-style-type: none;
     flex-grow: 1;
     margin: 0 ;
     padding: 0;
     overflow-y: auto;
 }


 
 
 .container-fluid{
     width: calc(100%-250px);
 }
 /* Cambia el color de fondo de la barra lateral */
 nav.p-3 {
     background-color: #fffffff7; 
     padding: 0;
     margin: 0;
     width: 250px; /* Ancho fijo */
     height: 100vh;
     overflow: auto;
 }
 
 
 
 .nav{
    
     overflow:visible; 
    
 }
 
 .nav-link {
     color: rgb(132, 132, 132);  /* Color de letra blanco */
     width: 100%; /* Ocupa el 100% del ancho del contenedor */
     font-size: 1.5rem; /* Tamaño de letra más grande */
     margin-right: 10px; /* Espacio entre el icono y el texto */
     text-align: left;
     padding: 1.5rem; /* Aumentar el espaciado alrededor de cada opción */
 
     display: flex;
     align-items: center;
 }
 
 .nav-link i {
     
     margin-right: 15px; /* Espacio entre el icono y el texto */
 }
 
 
.nav-link:hover {
    background-color: #1f4c71; /* Color de fondo al pasar el mouse */
    color: #a1b3dd;
    
    
 }
 
 
 /* Estilo para "Menú" */
 nav h6 {
     color: #6c757d; /* Color más claro (gris) para "Menú" */
     margin: 0; /* Elimina el margen por defecto */
     font-size: 20px; /* Tamaño de fuente más pequeño */
    
 }
 

 


 /* Estilo para "Ciencias Top" */
 nav h5 {
     font-weight: bold; /* Negrita */
     color: #131415; /* Color más oscuro (casi negro) para "Ciencias Top" */
     margin: 0; /* Elimina el margen por defecto */
     font-size: 28px;
     padding-bottom: 20px;
 }
 
 
 /* Estilo del header */
 .header {
     background-color: rgb(8, 4, 46); /* Cambia el color de fondo del header */
     padding: 18px; /* Espacio interno alrededor del contenido del header */
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del encabezado */
     transition: background-color 0.3s ease, box-shadow 0.3s ease; 
     position: fixed;
     width: 100%;
     top:0;
     z-index: 1000;
     
 }
 
 
 .header-container {
     display: flex; /* Usar flexbox para disposición flexible */
     align-items: center; /* Centrar verticalmente los elementos en el contenedor */
     justify-content: center; /* Espacio entre los elementos */
     width: 100%; /* Asegurar que el contenedor ocupe todo el ancho del header */
 }
 
 .container-fluid{
     margin-top: 80px;
     padding-top: 140px; /* Compensar altura del header + barra de búsqueda */
 
 }
 
 .header-title {
     margin: 0; /* Eliminar margen */
     padding: 0;
     color: #dea813; /* Cambia el color de letra del título */
     font-family: 'Montserrat', sans-serif;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra del texto */
     font-size: 42px; /* Tamaño de letra del título */
     font-weight: bold;
     text-align: center; /* Centrar el texto del título */
     flex-grow: 1; /* Permitir que el título tome todo el espacio disponible */
 }
 
 /* Estilo para el botón de menú */
 .menu-toggle {
     background: none; /* Sin fondo */
     border: none; /* Sin borde */
     cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
     
     
     margin-right: 20px; /* Espacio a la derecha del botón */
     display: flex; /* Asegurarse de que el botón use flexbox */
     flex-direction: column; /* Colocar las barras en columna */
     align-items: center; /* Centrar las barras horizontalmente */
 }

 .menu-toggle:focus {
     outline: none; /* Eliminar el contorno al hacer clic */
 }
 
 
 .iconoMenu {
     color: #fcfcfce3; /* Cambia el color de las barras del menú */
     font-weight: bold;
     text-shadow: 1px 1px 0 currentColor, -1px -1px 0 currentColor, 
                  1px -1px 0 currentColor, -1px 1px 0 currentColor;
     font-size: 32px; /* Tamaño*/
     transform: scale(1.4, 1); /* Escala de las barras */
 }
 
 .iconoMenu:hover {
     color: #8098d1; /* Cambia el color*/
 }
 .container-fluid{
     margin-left: 250px;
     padding: 20px;
 }
 
 .search-container form {
    display: flex; /* Asegura que el input y el botón estén en línea */
    align-items: stretch ; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente el formulario */
    width: 100%; /* El formulario ocupa todo el ancho disponible */
    margin: 0 auto; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
    margin-top: 30px; /* Ajusta la posición del formulario */
}

 
.search-container input {
    width: 70%; /* Ajusta el ancho del campo de búsqueda */
    padding: 12px; /* Espacio interno */
    border: none; /* Borde gris claro */
    border-radius: 7px 0 0 7px; /* Bordes redondeados a la izquierda */
    font-size: 1.2rem; /* Tamaño del texto */
    outline: none; /* Elimina el borde azul al hacer clic */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
}


.clear-button {
    background-color: white;
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    font-size: 0.5rem; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 0; /* Sin margen */
    outline: none; /* Elimina bordes al hacer clic */
    display: flex;
    align-items: center; /* Asegura el centrado vertical */
    justify-content: center; /* Centra el contenido */
}

.clear-button i {
    font-size: 1.4rem; /* Tamaño del ícono */
    color: rgb(192, 192, 192);
}

.clear-button i:hover {
    color: #9b9b9b; /* Cambia el color*/
}
.search-container .clear-button:hover {
    background-color: white; /* Cambia el color de fondo al pasar el mouse */
}

.search-container .clear-button{
    border-radius: 0;
}
.search-container .search-button {
    background-color: #eaedfd ; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 0 7px 7px 0; /* Bordes redondeados a la derecha */
  
    padding: 12px 18px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.5rem; /* Tamaño del ícono */
    display: flex; /* Centra el ícono */
    color:rgb(8, 4, 46); /* Color del icono */
    align-items: center; /* Asegura el centrado vertical del ícono */
}

.search-container .search-button i {
    font-size: 1.5rem; /* Ajusta el tamaño del ícono de la lupa */
}



.search-container .search-button:hover {
    background-color:  black; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}


 nav {
     display: none; /* Ocultar por defecto */
 }
 
 nav.show {
     display: block; /* Mostrar cuando se agrega la clase 'show' */
 }
 
 

 
 #logoutModal .modal-header {
     padding: 0.5rem 1rem;
     height: 40px; 
     border-bottom: none; /* Quitar el borde inferior si no lo deseas */
     background-color: rgb(255, 255, 255) ; /* Cambia el color de fondo del encabezado */
 }

 
 #logoutModal .modal-body {
     background-color: white;
     margin: 0;
     padding-top: 0;  /* Ajuste del espaciado superior */
     padding-bottom: 10px;
     text-align: center;
 }
 
 #logoutModal .modal-footer {
     border-top: none; /* Quitar el borde superior si no lo deseas */ 
     background-color: rgb(255, 255, 255); /* Cambia el color de fondo del pie de página */
 }
 
 #logoutModal .modal-footer button {
     /*background-color: #142d5ff7; /* Cambia el color de fondo del botón */
     color: white; /* Cambia el color del texto del botón */
     border-radius: 15px; /* Añade bordes redondeados al botón */
     padding: 10px 20px; /* Ajusta el espaciado interno del botón */
     border: none; /* Elimina el borde del botón */
     margin: 0 10px; /* Añade margen horizontal entre los botones */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
     transition: box-shadow 0.3s ease; /* Efecto de transición para la sombra */
     
 }
 
 
 .custom-modal-size {
     max-width: 400px; /* Puedes cambiar el ancho del modal si lo necesitas */
     width: 100%; /* Asegura que el modal ocupe todo el ancho disponible */
 }
 
 .btn-secondary {
     background-color: #8e8e8e; /* Color de fondo */
     margin: 0;
     color: white; /* Color del texto */
 }
 
 .btn-secondary:hover {
     background-color: #6d6b6b; /* Color de fondo al pasar el cursor */
 }
 .modal-footer .btn-danger{
     background-color:  #142d5ff7; /* Color de fondo */
     margin: 0;
     color: white; /* Color del texto */
 }
 .modal-footer .btn-danger:hover {
     background-color: #000000; /* Color de fondo al pasar el cursor */
 }
 
 
 #logout-footer {
     display: block; /* Siempre visible */
     position: absolute;
     bottom:100px;
     left: 0;
     right: 0;
     padding: 10px; /* Añadir espacio alrededor del botón si es necesario */
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: space-between;
     background-color:whitesmoke;
     
 } 
 #logout-footer button {
     background-color:  #20315e; /* Cambia el color de fondo del botón */ 
     color: white;  
     font-size: 1.25rem; /* Aumentar el tamaño de la fuente del botón */
     padding: 10px 10px; /* Aumentar el padding del botón para hacerlo más grande */
     max-width: 90%; /* Hacer que el botón ocupe el ancho completo del contenedor */
     border-radius: 10px;
     margin: 0 auto;
     display: block;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
     transition: box-shadow 0.3s ease;
 
 }
 
 #logout-footer button:hover {
     background-color: #07093d; /* Cambia el color de fondo al pasar el cursor */
 }




/* Estilo general para el mensaje */
.custom-message {
    background-color: #cdceff; /* Fondo amarillo claro */
    color: #080f3f; /* Color de texto marrón oscuro */
    border: none;
    padding: 15px;
    border-radius: 5px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    max-width: 600px; /* Establece un ancho máximo para el mensaje */
    margin: 20px auto; /* Centra el mensaje en la pantalla */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    width: 90%; /* Ocupa el 90% del ancho disponible, ajustable */
}

/* Estilo para el icono */
.custom-message i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 20px; /* Tamaño del icono */
}



/* Estilo para el modal de mensajes */
.custom-modal .modal-content {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-body {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

/* Estilo para el modal de mensajes */
.custom-modal .modal-content {
    border: 8px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-body {
    padding: 1rem;
    font-size: 20px;
    margin: 0;
    color: #333;
    padding-bottom: 10px;
}

/* Asegurarse de que las esquinas inferiores también se redondeen */
.custom-modal .modal-footer {
    border-top: none;
    display: flex; /* Alinea los elementos en la misma línea */
    border-radius: 0 0 15px 15px;
}
/* Asegurarse de que el botón de cerrar esté correctamente alineado */
.custom-modal .btn-close {
    margin: 10px;
}



/* Estilo para el modal de mensajes */
#mensajeModal .modal-content {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Añadir padding al contenido del modal */
    margin: 10px; /* Añadir margen alrededor del modal */
}




#mensajeModal .modal-body {
    padding: 5px;
    font-size: 16px;
    color: #333;
    
}

#mensajeModal .modal-footer {
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 10px; /* Añadir padding al footer del modal */
    display: flex; /* Alinea los elementos en la misma línea */
    justify-content: flex-end; /* Alinea los elementos al final del footer */
}

#mensajeModal .btn-close {
    margin: 1px;
}