.productos-lista {
    width: 100%;
    display: flex;           /* Usa flexbox para alinear elementos en fila */
    flex-wrap: wrap;        /* Permite que los elementos se envuelvan si hay desbordamiento */
    gap: 25px;              /* Espacio entre tarjetas */
    margin-top: 50px;       /* Añade un espacio superior para separar del header */
    padding: 0 25px;          /* Añade algo de padding para que no esté tan cerca de los bordes */
}

.producto-card {
    /* Estilos generales de la tarjeta */
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px; /* Ancho fijo de la tarjeta */
    height: 470px; /* Altura fija de la tarjeta */
    overflow: hidden; /* Oculta el contenido que se desborde */
    display: flex; /* Usa flexbox para alinear elementos en fila */
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
   


}
.producto-card .card-header, .card-content, .card-actions {
    padding: 15px; /* Espaciado interno */
}

.producto-card .card-header {
    display: flex; /* Usa flexbox para alinear elementos en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items:center ; /* Alinea los elementos verticalmente */
    padding: 10px; /* Espaciado interno */
    background-color: #c9ccde; /* Color de fondo del encabezado */ 
    color: #454545; /* Color del texto */
    
}

.producto-card .card-header h4 {
    margin: 0; /* Elimina el margen por defecto */
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2; /* Altura de línea */
}

.producto-card .card-header p {
    margin: 0; /* Elimina el margen por defecto */
    line-height: 1.2; /* Altura de línea */
    font-size: 14px;
}


.producto-card .card-content p {
    margin:5px 0; /* Elimina el margen por defecto */
    line-height: 1.2; /* Altura de línea */
}
.producto-card .icono_producto {
    background-color: #d1c4e9;
    border-radius: 50%; /* Hace que el borde sea redondo */
    width: 50px; /* Ajusta el ancho del icono */
    height: 50px; /* Ajusta la altura del icono */
    display: flex; /* Usa flexbox para alinear elementos en fila */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: center; /* Alinea los elementos horizontalmente */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 20px; /* Tamaño de fuente */ 
}

.producto-card .icono-item{
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.producto-card .info-header {
    display: flex; /* Usa flexbox para alinear elementos en fila */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: flex-start;
    flex-grow: 1; /* Permite que el texto tome todo el espacio disponible */
}

.producto-card .menu-dots {
    cursor: pointer; /* Cambia el cursor al pasar sobre los puntos */
    margin-left: auto; /* Mueve los puntos al extremo derecho */
}
.producto-card .card-image {
    /* Estilos de la imagen */
    height: 200px; /* Ajusta la altura de la imagen */
    width: 100%; /* Ajusta el ancho de la imagen */
    background-color: #e0e0e0;
    display: flex; /* Usa flexbox para alinear elementos en fila */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: center;
   
}

.producto-card .card-image img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
}

.producto-card .card-content {
    padding: 15px; /* Espaciado interno */
    color: #333;
    font-size: 14px; /* Tamaño de fuente */
    flex-grow: 1; /* Permite que el contenido tome todo el espacio disponible */
    overflow: auto; /* Añade desplazamiento si el contenido es demasiado grande */
}

.producto-card .card-actions {
    display: flex; /* Usa flexbox para alinear elementos en fila */
    justify-content: space-between; /* Espacio entre los elementos */

    padding: 15px; /* Espaciado interno */
    background-color: #f5f5f5; /* Color de fondo */
    
}

.producto-card .card-actions .btn {
    width: 120px; 
    background-color: #0a0a4df7; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 12px 16px; /* Espaciado interno */
    border-radius: 15px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold;
    border: none; /* Sin borde */
    flex-wrap: 1;
    text-align: center;
    margin-right: 5px; /* Espacio entre los botones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
    transition: box-shadow 0.3s ease; /* Efecto de transición para la sombra */
}

.producto-card .card-actions .btn:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar sobre el botón */
}

.producto-card .card-actions .btn:not(:last-child) {
    margin-right: 0; /* Añade espacio entre los botones, excepto el último */
}



/* Usuarios*/

.usuarios-lista{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}

/* Estilos para las tarjetas de usuario */
.usuario-card {
    background-color: whitesmoke;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; /* Tarjeta más ancha */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row; /* Información en una sola línea */
    align-items: stretch;
    padding: 10px;
    color: black;
    margin: 20px auto;
}

.usuario-card:hover {
    background-color: rgb(203, 206, 225);
    transform: scale(1.01); /* Agranda la tarjeta al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
    color: rgb(23, 23, 94);
}


.usuario-card .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    padding: 16px;
    background-color: #c9ccde;
    color: #000000;
}

.usuario-card .card-header .icono-item{
    margin-bottom: 10px;
    color: rgb(8, 4,46);
}

.usuario-card .card-header .info-header{
    text-align: center;
}
.usuario-card .card-content {
    display: flex;
    flex: 1;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
   
    
    color: #000000;
}



.usuario-card .card-content p {
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1 1 auto; /* Ajustar el ancho de los elementos */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    
}


/* Estilos para el número de cuenta */
.numero-cuenta-label {
    font-size: 14px; /* Tamaño de letra para la etiqueta */
    color : #454545;
    margin: 0; /* Elimina el margen */
    line-height: 1.2; /* Altura de línea */
}

.numero-cuenta {
    font-size: 18px; /* Tamaño de letra para el número de cuenta */
    font-weight: bold;
    margin: 0; /* Elimina el margen */
    line-height: 1.2; /* Altura de línea */
    color: #454545;
}


/* Estilos para el botón de eliminar */
.usuario-card .estado-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hace que el borde sea redondeado */
    margin-left: 10px;
    vertical-align: middle;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}

.estado-icon.activo {
    background-color: green; /* Color del icono cuando está activo */
}

.estado-icon.inactivo {
    background-color: red; /* Color del icono cuando está inactivo */
}



.usuario-card .material-icons {
    font-size: 68px; /* Solo afecta los íconos dentro de .usuario-card */
}