{% extends "ver_sin_buscar_plantilla.html" %}
{% load static %}

{% block titulo %}Historial de Rentas{% endblock %}
{% block nombre %}Historial de Rentas de {{ usuario.get_full_name }}{% endblock %}

{% block contenido %}
<div class="perfil-usuario">
    <div class="card-header">
        <h2>{{ usuario.apellido_paterno }} {{ usuario.apellido_materno }} {{ usuario.nombre }}</h2>
        <p>
            <strong>
                {% if usuario.get_tipo_usuario_display == 'Estudiante' %}
                    Número de cuenta:
                {% else %}
                    Número de trabajador:
                {% endif %}
            </strong> 
        </p>
        <p> {{ usuario.numero_cuenta }}</p>
    </div>

    <div class="info-personal">
        <h3>Historial de Rentas</h3>
        {% if rentas %}
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Renta</th>
                    <th>Producto</th>
                    <th>Fecha de Renta</th>
                    <th>Fecha de Devolución Estimada</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for renta in rentas %}
                <tr>
                    <td>{{ renta.id_renta }}</td>
                    <td>{{ renta.producto.nombre }}</td>
                    <td>{{ renta.fecha_renta }}</td>
                    <td>{{ renta.fecha_devolucion_estimada }}</td>
                    <td>{{ renta.get_estado_display }}</td>
                    <td>
                        {% if renta.estado == 'R' %}
                            <a href="{% url 'rentas:devolver_producto' renta.id_renta %}" class="btn btn-primary">Devolver</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            No hay historial de rentas disponible.
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}