{% extends "menu.html" %}
{% load static %}
{% block titulo %}  {% endblock %}
{% block nombre %}  {% endblock %}


{% block contenido %}
<!-- barra de búsqueda -->
<div class="search-container">
    <!-- Campo de búsqueda -->
    <form method="GET" action="">
        <input type="text" class ="search-input" name = "q" placeholder="{% block buscar %}{% endblock %}" value = "{{query}}" />
        <button type="button" class="clear-button" data-search-type="{{ search_type }}" onclick="clearSearch()"><i class="fa fa-times"></i></button>
        <script src=" {% static 'js/barraBusqueda.js' %} "></script>
        <button type="submit" class = "search-button"><i class="fa fa-search"></i></button>
    </form>
</div>

<!-- Aquí se puede agregar más contenido específico de la vista -->
{% block lista_items %}{% endblock %}{% endblock %}

